body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif; }

ul {
  list-style: none;
  padding: 0; }

a {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

.btn-blue {
  background: #34495E;
  color: #FFF;
  display: inline-block;
  border-radius: 6px;
  font-weight: 500;
  padding: 0.6em 1.5em; }

.btn-blue:hover {
  color: #FFF;
  background: #00B9FF;
  transition: all 200ms; }

/* UPLOAD BUTTON FOR FORUMS */
.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block; }

.upload-btn {
  border: 2px solid gray;
  color: gray;
  background-color: white;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold; }

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0; }

/* PAGINATION STYLES */
.pagination-div nav {
  display: inline-block; }

/* ----------------------------------
    DASHBOARD MENU STYLES
-------------------------------------- */
.dashboard-nav {
  background: #34495E;
  min-height: 100vh;
  color: #EEEEEE;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  padding: 1em 0 0 0; }
  .dashboard-nav #logo {
    max-width: 80%;
    display: block;
    margin: 0 auto;
    padding: 0 0 0.8em 0; }
  .dashboard-nav #avatar {
    width: 6vw;
    display: block;
    margin: 0 auto;
    border-radius: 20%; }
  .dashboard-nav hr {
    background: #78828B;
    width: 90%; }

.dashboard-menu ul {
  padding: 0 0 0 2em; }
  .dashboard-menu ul li {
    display: flex;
    margin: 0 0 1em 0; }
    .dashboard-menu ul li .menu-icon {
      margin: 0 0.5em 0 0;
      align-self: center;
      width: 1em; }
    .dashboard-menu ul li a {
      color: #EEEEEE;
      font-size: 1em;
      letter-spacing: 1px;
      align-self: center; }
.dashboard-menu .li-sub-menu {
  font-size: 14px;
  margin: -1em 0 0 1em;
  padding: 0.3em;
  max-width: 80%;
  border-radius: 5px;
  text-align: center;
  display: block; }
.dashboard-menu .sub-menu-active {
  background: #17212b; }

.menu-active {
  background: #17212B;
  padding: 0.5em 1em;
  border-radius: 3px;
  width: 88%; }

/* ----------------------------------
    DASHBOARD STYLES
-------------------------------------- */
.dashboard-page-header {
  background: linear-gradient(to left, #F56EFF, #175ABF);
  padding: 1.5em;
  border-radius: 8px; }
  .dashboard-page-header h2 {
    text-align: center;
    color: #FFF;
    text-transform: uppercase;
    font-family: 'Raleway',sans-serif;
    font-weight: 500;
    text-shadow: 0 3px 6px rgba(0, 0, 0, 0.3); }

.dashboard-page .welcome-col {
  background: linear-gradient(to left, #F56EFF, #175ABF);
  margin: 3em;
  padding: 3em;
  border-radius: 8px; }
  .dashboard-page .welcome-col h1 {
    text-align: center;
    color: #FFF;
    text-transform: uppercase;
    font-family: 'Raleway',sans-serif;
    font-weight: 500;
    text-shadow: 0 3px 6px rgba(0, 0, 0, 0.3); }
.dashboard-page .dashboard-cards-row {
  padding: 0 2em; }
  .dashboard-page .dashboard-cards-row .dashboard-card {
    padding: 0.5em 0.8em; }
    .dashboard-page .dashboard-cards-row .dashboard-card .card-inner {
      background: #F5F5F5;
      border-radius: 8px;
      box-shadow: 3px 4px 6px rgba(0, 0, 0, 0.1);
      padding: 0.5em 0; }
    .dashboard-page .dashboard-cards-row .dashboard-card .card-icon {
      display: block;
      margin: 0 auto;
      padding: 1.2em 0 0 0;
      width: 4em; }
    .dashboard-page .dashboard-cards-row .dashboard-card h4 {
      color: #00B9FF;
      font-weight: 500;
      font-size: 1.2em;
      letter-spacing: 1px;
      padding: 1em 0 0.5em 0; }
    .dashboard-page .dashboard-cards-row .dashboard-card .count-div {
      width: 6em;
      position: relative;
      display: block;
      margin: 0 auto;
      padding: 0 0 0.5em; }
      .dashboard-page .dashboard-cards-row .dashboard-card .count-div p {
        margin: 0;
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-weight: 500;
        color: #263238;
        font-size: 1.3em; }
.dashboard-page .dashboard-links-row {
  padding: 1em 2em; }
  .dashboard-page .dashboard-links-row div a {
    margin: 0.5em 0 0 0;
    box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.16); }

/* ----------------------------------
    Pages Defualt Styles
-------------------------------------- */
.page .user-avatar {
  width: 3em; }
.page #preview-img {
  max-width: 10vw; }
.page .required-icon {
  color: red; }
.page .action-btn-div .edit path {
  stroke: #008b8b; }
.page .action-btn-div .delete path, .page .action-btn-div .delete polyline {
  stroke: #FF375B; }
.page .action-btn-div .restore path, .page .action-btn-div .restore polyline {
  stroke: #3f51b5; }
.page .empty-row {
  padding: 5em; }
  .page .empty-row .empty-content-col {
    text-align: center;
    padding: 2em;
    background: #EEE;
    box-shadow: 1px 2px 9px rgba(0, 0, 0, 0.15); }
    .page .empty-row .empty-content-col h2 {
      letter-spacing: 3px;
      font-size: 1.5em;
      color: #34495e; }

/* ----------------------------------
    COMOFRMATION DIALOG BOX STYLES
-------------------------------------- */
.dialog-box {
  display: none;
  position: fixed;
  top: 0%;
  left: 0%;
  background: rgba(0, 0, 0, 0.3);
  width: 99vw;
  height: 100vh; }
  .dialog-box .dialog-box-inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 40vw;
    background: #34495E;
    border-radius: 5px;
    box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    color: #FFF;
    padding: 2em; }
    .dialog-box .dialog-box-inner .dialog-header, .dialog-box .dialog-box-inner .dialog-body, .dialog-box .dialog-box-inner .dialog-footer {
      padding: 0.5em 0 0 0; }

/*# sourceMappingURL=dashboard.css.map */
